absl-py==2.1.*
altair==5.4.*
attrs==24.*
blinker==1.9.*
cachetools==5.*
certifi==2024.8.*
charset-normalizer==3.4.*
click==8.1.*
colorama==0.4.*
contourpy==1.3.*
cycler==0.12.*
flatbuffers==24.3.*
fonttools==4.*
gast==0.6.*
gitdb==4.*
GitPython==3.1.*
google-pasta==0.2.*
grpcio==1.67.*
h5py==3.12.*
idna==3.10
ipykernel==6.29.*
ipython==8.29.*
Jinja2==3.1.*
joblib==1.4.*
jsonschema==4.23.*
jupyter_client==8.6.*
jupyter_core==5.7.*
keras==3.6.*
kiwisolver==1.4.*
libclang==18.*
Markdown==3.7
markdown-it-py==3.0.*
MarkupSafe==3.0.*
matplotlib==3.9.*
matplotlib-inline==0.1.*
ml-dtypes==0.4.*
namex==0.0.8
narwhals==1.13.*
nest-asyncio==1.6.*
numpy==2.0.*
opt_einsum==3.4.*
optree==0.13.*
packaging==24.2
pandas==2.2.*
parso==0.8.*
pillow==11.*
platformdirs==4.3.*
prompt_toolkit==3.0.*
protobuf==5.28.*
psutil==6.1.*
pyarrow==18.*
Pygments==2.18.*
pyparsing==3.2.*
python-dateutil==2.9.*
pytz==2024.2
pyzmq==26.2.*
requests==2.32.*
rich==13.9.*
scikit-learn==1.5.*
scipy==1.14.*
setuptools==75.*
six==1.16.*
smmap==5.0.*
streamlit==1.40.*
tenacity==9.0.*
tensorboard==2.18.*
tensorboard-data-server==0.7.*
tensorflow==2.18.*
termcolor==2.5.*
threadpoolctl==3.5.*
tornado==6.4.*
traitlets==5.14.*
typing_extensions==4.12.*
tzdata==2024.2
urllib3==2.2.*
watchdog==5.0.*
Werkzeug==3.1.*
wheel==0.44.*
wrapt==1.16.*
